@{
    Layout = null;
    string method = Request.HttpMethod;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    
</head>
<body>
    <div>
        <button id="buttonRequest">ClickMe!</button>
    </div>

    
    <script type="text/javascript" src="~/scripts/jquery-3.1.0.js"></script>
    <script>
        $("#buttonRequest").click(function () {
            var parameter = {
                param:"hoge"
            };
            $.get("api.cshtml", parameter , function (data) {
            });
        });
    </script>
</body>
</html>
