
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

</head>
<body>
    <div>
        <input id="text_utterance" type="text" />
        <button id="button_request">ClickMe!</button>
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-3.1.0.js"></script>
    <script>
        $("#button_request").click(function () {
            var utterance = $("#text_utterance").val();
            var parameter = {
                utterance:utterance
            };
            $.get("/Home/Api", parameter, function (data) {
                alert(data.param);
            });
        });
    </script>
</body>
</html>