
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

</head>
<body>
    <div>
        <input id="text_utterance" type="text" />
        <button id="button_request">Send</button>
        <br />
        <ul>
            <li id="list_messages"></li>
        </ul>
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-3.1.0.js"></script>
    <script>
        $("#button_request").click(function () {
            var utterance = $("#text_utterance").val();
            var parameter = {
                utterance:utterance
            };
            
            $.ajax({
                 url: "/Home/Api",
                 type: 'GET',
                 data: JSON.stringify(parameter),   // JSONの文字列に変換
                 dataType: 'json',
                 contentType: 'application/json',    // content-typeをJSONに指定する
                 error: function (data) {
                     alert(data);
                 },
                 complete: function (data) {
                     var json = data.responseText;
                     var obj = JSON.parse(json);
                     $('#list_messages').append('<p><b>システム: </b>' + obj.utterance + '</p>');
                 },
            });

            $('#list_messages').append('<p><b>あなた: </b>' + utterance + '</p>');
            $('#text_utterance').val('');
        });
    </script>
</body>
</html>